@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    scroll-behavior: smooth
}

body {
    background: #fff
}

header {
    position: relative;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e0dede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    background: #fff
}

.logo {
    text-decoration: none;
    color: #000;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal
}

nav {
    display: flex;
    border: 1px solid #e6e6e6;
    border-radius: 4px
}

nav a {
    text-decoration: none;
    color: #000;
    padding: .3rem 1rem;
    margin: 0
}

nav a:not(:first-child) {
    border-left: 1px solid #e6e6e6
}

.btn-nav {
    display: none;
    padding: 5px;
    border-radius: 5px
}

.title {
    text-align: center;
    margin-bottom: 2rem
}

.title h1 {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: clamp(15px, 5.5vw, 28px)
}

.title p {
    color: #8f8f8f
}

.row {
    display: flex;
    flex-wrap: wrap
}

.col-7 {
    width: 60%;
    padding: .8rem;
    max-width: 100%
}

.col-5 {
    width: 40%;
    padding: .8rem;
    max-width: 100%
}

section {
    padding: 3rem 0;
    border-bottom: 1px solid #e6e6e6;
    max-width: 1000px;
    margin: auto;
    background: #fff
}

.banner img.hero {
    width: 100%;
    border-radius: 6px;
    margin-bottom: .5rem;
    border: solid 1px #d7d7d7
}

.testimoni {
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: 1.5rem
}

.testimoni p {
    color: #8f8f8f;
    margin-bottom: 1.5rem
}

.avatar {
    display: flex
}

.avatar img {
    width: 50px;
    height: 50px;
    background-color: #e2e2e2;
    border-radius: 50%
}

.avatar:is(span, b, small) {
    display: block
}

.avatar span {
    margin-left: 10px
}

.avatar small {
    font-style: italic;
    color: #8f8f8f
}

.featurs p {
    font-weight: 700;
    margin-bottom: 1rem
}

.featurs ul li {
    padding: 1rem 3rem;
    position: relative;
    color: #8f8f8f;
    font-weight: 300;
    list-style: none !important
}

.featurs ul li::before {
    content: attr(num);
    position: absolute;
    width: 35px;
    height: 35px;
    background: #e0e0e0;
    color: #8f8f8f;
    font-weight: 700;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.form {
    padding-top: 3rem
}

label {
    font-weight: 400;
    display: block
}

.form-control {
    padding: .5rem;
    width: 100%;
    border: 2px solid #8f8f8f;
    border-radius: 5px;
    margin-bottom: 1.5rem
}

.form-control.error {
    outline: unset !important;
    border: 2px solid #ff0055
}

.form-control:not(:invalid) {
    outline: unset !important;
    border: 2px solid #00ffa6
}

button {
    width: 100%;
    background: #2e2e2e;
    color: #fff;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 700;
    border: none
}

.area-forms {
    background: #e6e6e6;
    padding: 2rem;
    border-radius: 6px
}

.title-page {
    background: #e6e6e6;
    padding: 3.5rem;
    border-radius: 6px
}

.title-page h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: clamp(15px, 5.5vw, 28px)
}

.opk {
    padding: 3rem 1rem;
    position: relative
}

.opk.first::after {
    content: '';
    position: absolute;
    width: 200px;
    max-width: 30%;
    height: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%)
}

.col-4 {
    width: 33.3%;
    padding: .8rem;
    max-width: 100%
}

.package {
    position: relative
}

.package .icon {
    position: absolute;
    left: 0;
    display: flex;
    width: 35px;
    height: 35px;
    background: rgb(228, 228, 228);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px
}

.package .details {
    margin-left: 50px
}

.details p {
    font-weight: 700
}

.details small {
    color: #8f8f8f
}

.call-us {
    text-align: center;
    width: 80%;
    margin: auto
}

.call-us h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.5rem;
    font-size: clamp(15px, 5.5vw, 28px)
}

.call-us p {
    color: #8f8f8f;
    margin-bottom: 2.5rem
}

.call-us a {
    text-decoration: none;
    background: #242424;
    color: #fff;
    padding: .7rem 2rem;
    border-radius: 3px;
    font-weight: 700;
    height: 45px;
    font-size: 12px
}

footer {
    padding: 2rem 0;
    text-align: center;
    background: #fff;
    max-width: 1000px;
    margin: auto
}

footer .logo {
    margin-bottom: .8rem
}

@media(max-width:700px) {

    .col-7,
    .col-5,
    .col-4 {
        width: 100%
    }

    nav {
        display: none
    }

    .btn-nav {
        display: block
    }

    header.open {
        display: block
    }

    header.open nav {
        text-align: center;
        display: block;
        border: none
    }

    header.open nav a {
        display: block;
        border: none;
        padding: 1rem
    }

    header.open .btn-nav {
        position: absolute;
        right: 15px;
        top: 15px
    }
}

.pt-1 {
    padding-top: 1rem !important
}

.border-0 {
    border: 0
}

.slideshow-container {
    position: relative;
    margin: auto
}

.Slides {
    display: none
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    justify-content: right
}

.dot {
    width: 150px;
    max-width: 30%;
    height: 5px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171
}
